
body {
    background-color: black;
}

h1{
    color : white ;
    background-color: none;
    font-size: xx-large;
    text-align: center;
}
h2{
    color : white;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.p1 {
    color : white;
    font-family: Times, serif, Arial;
    font-size: 120%;
    text-align: center;
}

.p2 {
    font-family: Arial, 'Times New Roman', helvetica;
}

table {
    border-collapse: separate;
}
table th {
    text-align: center;
    background-color:white;
    color: black;
    padding: 2px 20px 4px 8px;
}
table td {
    padding: 4px 8px;
    border: 1px solid white;
}
table tr:nth-child(odd) td {
    background-color: white;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        ". title title ."
        ". navigation navigation ."
        ". sidebar content ."
        ". footer footer .";
    grid-gap: 10px;
}
.title{
    grid-area: title;
    background-color: black;
    justify-self: center;
    padding: 0;
    width: 80%;
    min-width: 80%;
    height: 20%;
    min-height: 20%;
}
.navigation{
    grid-area: navigation;
    background-color: none;
    justify-self: center;
    padding: 0;
    width: 40%;
    min-width: 40%;
    height: 15%;
    min-height: 15%;
    text-align: center;
}
.sidebar{
    grid-area: sidebar;
    justify-self: center;
    background-color: none;
    width: 30%;
    height: 25%;
}
.content {
    grid-area: content;
    text-align: center;
    background-color: none
}
.footer {
    grid-area: footer;
    background-color:none;
    justify-self: center;
}